@import "~bulma/sass/utilities/initial-variables"
@import url('https://fonts.googleapis.com/css?family=Muli:700&display=swap')
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500|Muli:600,700|Nunito:400,600&display=swap');
@import "~bulma"

$primary: #434bf3
$primary-invert: #fff
$text: #363636
$secondary: #6269f2
$pink: #ffe6ee

::selection
    background-color: $pink

a 
  // color: $primary !important
  &:hover 
    color: #777
    transition: .3s all

.content .taglist
  list-style: none
  margin-bottom: 0
  margin-left: 0
  margin-right: 1.5rem
  margin-top: 1.5rem
  display: flex
  flex-wrap: wrap
  justify-content: left
  align-items: center
  li
    padding: 0 2rem 1rem 0
    margin-bottom: 1.5rem
    margin-top: 0

// Helper Classes
.full-width-image-container
  width: 100vw
  height: 400px
  position: relative
  left: 50%
  right: 50%
  margin: 5em -50vw
  background-size: cover
  background-position: bottom
  display: flex
  justify-content: center
  align-items: center

.margin-top-0
  margin-top: 0 

.container 
  display: flex
  width: 100%
  flex-wrap: wrap
  justify-content: center
  .content 
    padding: 20px
    width: calc(100% / 3.8)
    height: 100px
    margin: 5px
    p
      display: flex
      flex-direction: column

.navbar
  padding: 10px 0;
  .container 
    justify-content: space-between

.navbar svg 
  fill: #9c9d9e

.navbar-end
  padding: 0 30px
  a 
    font-size: 11px
    padding: 5px 14px
    color: #363636
    text-transform: uppercase
    letter-spacing: 1px
  i 
    padding-right: 7px

.hamburger-menu
  display: none

.navbar-item i
  color: $primary
  opacity: 0.7

.navbar-item:hover i
  opacity: 1

.navbar-item .image 
  padding: 0 30px

.navbar-item img 
  max-height: 100%  
  width: 50%

.section
  padding: 5rem 1.5rem

.title
  font-family: Playfair Display
  position: relative
  display: flex
  align-items: center
  
// .title:before
//   position: absolute
//   content: ''
//   width: 3px
//   height: 100%
//   background: $secondary
//   left: -10px
//   top: 3px

// .title p
//   position: relative
//   padding: 3px 10px

// .title p:after
//   position: absolute
//   content: ''
//   width: 100%
//   height: 100%
//   background: $pink
//   left: 0px
//   z-index: -1

.post-title
  color: #333
  font-weight: 600
  // font-family: 'Muli', sans-serif
  font-family: 'Nunito', sans-serif;
  // font-family: 'Fira Sans', sans-serif;

.post-date-all
  color: #4f4e4e
  font-size: 10px
  letter-spacing: 1px
  text-transform: uppercase
  font-family: Montserrat, sans-serif
  margin-top: 2px

.post-date
    color: #222;
    font-size: 10px;
    letter-spacing: 2px;
    text-transform: uppercase
    font-family: Montserrat, sans-serif
    text-align: center
    font-weight: 400

.single-post
  padding-top: 40px
  font-family: 'Source Sans Pro', sans-serif

  a
    color: $secondary

.content-title
  padding: 20px 0

.content li + li
    margin-top: 1em

.content p:not(:last-child), .title:not(:last-child)
  margin-bottom: 0.2em

.content p:not(:last-child) + ol 
  margin-top: 2em

.columns 
  width: 100%

.cp_embed_wrapper, iframe
  width: 70%

.taglist a
  padding: 5px 10px
  background-color: #ddf6fa
  border-radius: 10px
  font-size: 13px;

.copyright 
  color: #9c9d9e
    font-size: 11px
    padding: 5px 14px
    color: #363636
    text-transform: uppercase
    letter-spacing: 1px
    text-align: center

// MEDIA QUERIES
@media screen and (min-width: 1088px)
  .navbar .container
    max-width: 100% 

@media (min-width: 736px) 
  .navbar-end 
    display: flex
    justify-content: center


@media (max-width: 736px) 
  .container
    position: relative
  .navbar-end 
    position: absolute
    width: 100%
    top: 70px
    transform: translateX(100%)
    padding: 0
    background-color: white
    transition: 0.8s all ease

    .navbar-item 
      font-size: 16px
      padding: 20px

  .hamburger-menu
    display: block

  .open
    transform: translateX(0%)
    transition: 0.8s transform ease

  .navbar-mobile
    display: flex
    justify-content: center
    padding: 0 20px

    i 
      color: $primary

  .navbar-item i 
    padding-right: 20px


  .navbar-item .image
    padding: 0
  
  .mobile-menu
    display: flex
    flex-direction: column
  
  .navbar > .container
    align-items: center

  .section
    padding: 1rem 1.5rem

  .content:not(:last-child)
    margin-bottom: 20px

  .navbar > .container 
    display: flex

  .container 
    display: flex
    justify-content: space-between
    align-items: center
    .content 
      width: 100%
    .content-title
      padding: 20px 0
      
      h1
        font-size: 25px
