@import "~bulma/sass/utilities/initial-variables"

$primary: #434bf3
$primary-invert: #fff
$secondary: #ffe6ee

a 
  color: $primary !important
  &:hover 
    color: #777 !important
    transition: .3s all

.content .taglist
  list-style: none
  margin-bottom: 0
  margin-left: 0
  margin-right: 1.5rem
  margin-top: 1.5rem
  display: flex
  flex-wrap: wrap
  justify-content: left
  align-items: center
  li
    padding: 0 2rem 1rem 0
    margin-bottom: 1.5rem
    margin-top: 0

// Helper Classes
.full-width-image-container
  width: 100vw
  height: 400px
  position: relative
  left: 50%
  right: 50%
  margin: 5em -50vw
  background-size: cover
  background-position: bottom
  display: flex
  justify-content: center
  align-items: center

.margin-top-0
  margin-top: 0 !important

.container 
  display: flex
  width: 100%
  flex-wrap: wrap
  justify-content: center
  .content 
    padding: 20px
    width: calc(100% / 3.8)
    height: 100px
    margin: 5px
    p
      display: flex
      flex-direction: column

.navbar
  padding: 10px 0;
  .container 
    justify-content: space-between !important

.navbar svg 
  fill: #9c9d9e

.navbar-end
  padding: 0 30px !important
  a 
    color: #9c9d9e !important
    font-size: 20px
    padding: 5px 7px
    color: #777

.navbar-item:hover
  color: $secondary !important

.image 
  padding: 0 30px

.navbar-item img 
  max-height: 100% !important
  width: 50% !important

.section
  padding: 5rem 1.5rem !important

.title
  font-family: Playfair Display

.post-date
    color: #222;
    font-size: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: Montserrat, sans-serif;
    text-align: center;
    font-weight: 400 !important

.single-post
  padding-top: 40px
  padding-left: 20px

.content li + li
    margin-top: 1em !important

.content p:not(:last-child), .title:not(:last-child)
  margin-bottom: 0.2em !important

.columns 
  width: 100%

.cp_embed_wrapper, iframe
  width: 70% !important

.taglist a
  padding: 5px 10px
  background-color: #ddf6fa
  border-radius: 10px
  font-size: 13px;

@media screen and (min-width: 1088px)
  .navbar .container
    max-width: 100% !important

@media (min-width: 736px) 
  .navbar-end 
    display: flex
    justify-content: center


@media (max-width: 736px) 
  .navbar-end 
    display: flex
    justify-content: center
  .container 
    display: block
    .content 
      width: 100%

@import "~bulma"
